div{
    text-align:left;
}
table {
    width: 100%;
   text-align: left;
    min-width: 500px;
  }
  th.mat-header-cell {
    text-align: left;
    max-width: 300px;
  }
button{

    background: rgb(1, 29, 51);
    
    border-color: transparent;
    
    color: #fff;
    
    cursor: pointer;
    
    }
    .underline-on-hover:hover{
        text-decoration: underline;
    }
    .center a{
 
      float: right;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      margin-right: 20px;
    
  }
  
  .center a.style{
    background: rgb(12, 77, 129);
    color: white; 
  }
  .center{
    overflow: hidden;
    background-color: #333;
      
   
  }